name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Format
        run: |
          go fmt
          git diff HEAD --exit-code '*.go'
      - name: Dependencies
        run: |
          bazel run //:gazelle-update-repos
          git diff HEAD --exit-code WORKSPACE deps.bzl
      - name: Unit test
        run: bazel test //... --test_tag_filters=unit
      - name: E2E test
        run: bazel test //... --test_tag_filters=e2e --cache_test_results=no
      - name: Build
        run: bazel build //...
